[project]
name = "pythonproject"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.9"
dependencies = []

[dependency-groups]
dev = [
    "pylint>=3.3.9",
    "send2trash>=2.1.0",
]
