{% extends 'base/principal.html' %}
{% block content %}
<div class="barra-superior">
    <h1>Registrate</h1>
</div>
<div class="cuerpo-tarjeta">
    <form method="POST">
        {% csrf_token %}
        <labe>{{form.username.label}}</labe>
        {{form.username}}
        <labe>{{form.password1.label}}</labe>
        {{form.password1}}
        <labe>{{form.password2.label}}</labe>
        {{form.password2}}
        <input style="margin-top: 10px" class='btn' type="submit" value="Registrar">
    </form>
    <p>Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
</div>
{% endblock content %}