<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Pendientes</title>
</head>
<body>
<h1>Lista de Pendientes</h1>
<div>
    <a href="{% url 'crear-tarea' %}">Agregar tarea</a>
</div>
<br>
<table>
    <tr>
        <th>Elementos</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for tarea in tareas %}
    <tr>
        <td>
            {{tarea.titulo}}
        </td>
        <td>
            <a href="{% url 'tarea' tarea.id %}">Ver</a>
        </td>
        <td>
            <a href="{% url 'editar-tarea' tarea.id %}">Editar</a>
        </td>
        <td>
            <a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>